<div class="page-header">

<h1><%= @user.name %></h1>
<h1><small>Account created <span><%= @user.created_at.strftime("%d %B %Y").downcase %></span></small></h1>
<% @user.links.each do |link| %>
 <div class="link row clearfix">
    <h2>
        <span><%= link_to link.title, link %></span><br>
        <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> </small>
        </h2>
        </div>
<% end %>

