.action-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  position: fixed;
  bottom: 0em;
  right: .5em;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2em;
}
.action-container > .fab-container:nth-child(n+2) > .fab,
.action-container > .fab-container:nth-child(n+2) {
  height: 2.8em;
  width: 2.8em;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.action-container:hover > .fab-container > .fab,
.action-container:hover > .fab-container {
  opacity: 1;
}
.action-container > .fab-container:nth-child(n+2) {
  margin: -0.5em 0em;
}
.action-container:hover > .fab-container:nth-child(n+2) {
  margin: .35em 0em;
}
.action-container:hover > .fab-container:nth-child(2) {
  transition-delay: 0;
}
.action-container:hover > .fab-container:nth-child(3) {
  transition-delay: .03s;
}
.action-container:hover > .fab-container:nth-child(4) {
  transition-delay: .06s;
}
.action-container:hover > .fab-container:nth-child(5) {
  transition-delay: .09s;
}
.action-container:hover > .fab-container:nth-child(6) {
  transition-delay: .12s;
}
.action-container:hover > .fab-container:nth-child(7) {
  transition-delay: .125s;
}
.fab-container {
  position: relative;
  margin: .35em 0em;
}
.fab-container:nth-child(n+2)::after {
  content: attr(tooltip);
  position: absolute;
  top: 50%;
  left: -0.7em;
  padding: .65em 1.25em .45em 1.25em;
  border-radius: 2px;
  transform-origin: right;
  -webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  -o-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  white-space: nowrap;
  height: auto;
  width: auto;
  background: #757575;
  color: #F5F5F5;
  font-weight: 300;
  font-size: .9em;
  opacity: 0;
  z-index: 9;
}
.fab-container:hover::after {
  opacity: 1;
}
.fab-container:hover > .fab {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
.fab {
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  background: #2196F3;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.fab:hover {
  cursor: pointer;
}
.fab > a > span {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  display: block;
  color: #333;
  position: relative;
  z-index: 11;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#root {
  background: #E53935;
}
#fence {
  background: #43A047;
}
#root > a > span {
  background: url("http://edher.in/img/ic_add_48px.svg");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}
#point > a > span {
  background: url("https://linkshare-noobcodeman.c9.io/assets/LinkShareLogoWhite.png");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}
#fence > a > span {
  
  background: url("https://linkshare-noobcodeman.c9.io/assets/file.png");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}
.ripple {
  position: absolute;
  height: .25em;
  width: .25em;
  opacity: 0;
  z-index: -1;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.35);
  transform-origin: center;
  transition: opacity .8s;
  -webkit-animation: balloon .8s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
}
.ripple-active {
  opacity: 1;
}
@-webkit-keyframes balloon {
  0% {
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }
  33% {
    /*        opacity: 1;*/
  }
  50% {
    /*        opacity: 1;*/
  }
  75% {
    -webkit-transform: scale3d(50, 50, 50);
    -moz-transform: scale3d(50, 50, 50);
    -ms-transform: scale3d(50, 50, 50);
    -o-transform: scale3d(50, 50, 50);
    transform: scale3d(50, 50, 50);
  }
  100% {
    -webkit-transform: scale3d(50, 50, 50);
    -moz-transform: scale3d(50, 50, 50);
    -ms-transform: scale3d(50, 50, 50);
    -o-transform: scale3d(50, 50, 50);
    transform: scale3d(50, 50, 50);
  }
}
