@import url(//fonts.googleapis.com/css?family=Nunito:400,300);

.button-signup, .button-signup:before, .button-signup:after, .input-signup, .input-signup:before, .input-signup:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signup {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}


.h1-signup {

  margin: 0 0 30px 0;
  text-align: center;
}

.input-signup
 {

  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: rgb(250, 255, 189);
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.button-signup {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

.fieldset-signup {

  margin-bottom: 30px;
  border: none;
}

.label-signup {

  display: block;
  margin-bottom: 8px;
}
